.video-player-page {
  width: 100%;
  height: 100vh;
  background: #000;
}

.page-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
}

.page-error h2 {
  font-size: 42px;
}
